#loginTitle {
    font-family: 'Roboto', sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: xx-large;
}

#loginButton {
    background-color:#EF9A9A;
    border-radius: 15px;
}

.text-input  {
    border-radius: 15px;
}