<div class="row" *ngIf="user.user_type=='customer'">
    <div class="col p-4 rounded mt-4 shadow-sm" id="u_customer">
        <h2>{{user.surname}}, {{user.name}}</h2>
        <hr />
        <div class="row">
            <div class="col-6">
                <h5><b>Email:</b> {{user.email}}</h5>
                <h5><b>Phone:</b> {{user.phone}}</h5>
            </div>
            <div class="col-6">
                <h5><b>Address:</b> {{user.address}}</h5>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="user.user_type=='worker'">
    <div class="col p-4 rounded mt-4 shadow-sm w-100" id="u_worker">
        <div *ngFor="let task of tasks">
            <div *ngIf="task.worker==null || user.user_id==task.worker.user_id" class="row p-2 bg-white rounded mt-4 shadow-sm mr-4 ml-4" id="tasks">
                <div class="col-12">
                    <h4>{{task.customer.surname}}, {{task.customer.name}} - <b>{{task.provider.name}}</b></h4>
                    <hr />
                </div>
                <div class="col-6">
                    <h5>Location: {{task.customer.address}}</h5>
                    <h5>Phone: {{task.customer.phone}}</h5>
                </div>
                <div class="col-6">
                    <h5>Status: {{task.status}}</h5>
                    <h5>Date: {{task.date}}</h5>
                    <h5>Payment: {{task.payment}}</h5>
                </div>

                <div *ngIf="task.worker==null" class="row w-100 m-3">
                    <div class="col"><button type="button" class="btn btn-dark w-100" (click)="acceptTask(task.task_id)">Accept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="user.user_type=='provider'">
    <div class="col p-4 rounded mt-4 shadow-sm" id="u_provider">
        <h2>{{provider.name}}</h2>
        <hr />
        <div class="row">
            <div class="col-6">
                <h5><b>Email:</b> {{provider.email}}</h5>
                <h5><b>Phone:</b> {{provider.phone}}</h5>
            </div>
            <div class="col-6">
                <h5><b>Websice:</b> {{provider.website}}</h5>
                <h5><b>Address: </b>{{provider.address}}</h5>
            </div>
        </div>
        <div *ngFor="let task of tasks">
            <div *ngIf="task.provider.provider_id==provider.provider_id" class="row border p-2 bg-white rounded mt-4 shadow-sm mr-4 ml-4" id="tasks2">
                <div class="col-12">
                    <h4>{{task.customer.surname}}, {{task.customer.name}} - <b>{{task.provider.name}}</b></h4>
                    <hr />
                </div>
                <div class="col-6">
                    <h5>Location: {{task.customer.address}}</h5>
                    <h5>Phone: {{task.customer.phone}}</h5>
                </div>
                <div class="col-6">
                    <h5>Status: {{task.status}}</h5>
                    <h5>Date: {{task.date}}</h5>
                    <h5>Payment: {{task.payment}}</h5>
                </div>

                <div *ngIf="task.worker==null" class="row w-100 m-3">
                    <div class="col">
                        <button type="button" class="btn btn-dark w-100" (click)="acceptTask(task.task_id)">Accept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>