<div class="row min-vh-100 mt-4">
    <div class="col-sm">
        <button type="button" class="btn btn-success w-100 h-4">
           <fa-icon [icon]="faUtensils" size="4x"></fa-icon><br /><h2>Hrana</h2>
        </button>
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-primary w-100">
            <fa-icon [icon]="faShoppingBasket" size="4x"></fa-icon><br /><h2>Nakupi</h2>
        </button>
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-warning w-100">
            <fa-icon [icon]="faHandsHelping" size="4x"></fa-icon><br /><h2>Pomoč</h2>
        </button>
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-danger w-100">
            <fa-icon [icon]="faExclamationTriangle" size="4x"></fa-icon><br /><h2>Nujno</h2>
        </button>
    </div>
</div>