.navbar
{  
    font-family: 'Roboto', sans-serif !important;
    background-color:whitesmoke;
    text-transform: uppercase !important;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif !important;
    font-size: xx-large;
    font-weight: 700;
    background-color: #C5E1A5;
    border-radius: 15px;

}


.btn-dark {
    padding: 0.7em;
    border-radius: 15px;
}
